{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main>
        <h1>随机推荐帖子</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in posts %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">作者: {{ post.author }}</p>
                            <p class="card-text">创作时间: {{ post.created_at }}</p>
                            <p class="card-text">点赞数量: {{ post.like_count }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'post' post_id=post.pk %}" class="btn btn-primary">查看详情</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}