{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main class="container my-5">
        <div class="row">
            <div class="col-md-12">
                {% if post.status %}
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary text-white">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><strong>作者：</strong> {{ post.author }}</p>
                            <p class="card-text"><strong>创作时间：</strong> {{ post.created_at }}</p>
                            <p class="card-text"><strong>标签：</strong>
                                {% for tag in post.tags.all %}
                                    <span class="badge bg-secondary">{{ tag.name }}</span>
                                {% endfor %}
                            </p>
                            <div class="card-text">

                                <i class="bi btn like_btn{% if is_like %}
                                	bi-heart-fill
                                {% else %}
                                	bi-heart
                                {% endif %} " data-mode="post" data-id="{{ post.pk }}"
                                   data-liked="{{ is_like }}">
                                    <!-- 这里是带点赞数 -->
                                    <span class="like-count">0</span>
                                </i>

                            </div>
                            <div class="card-text">
                                {{ post.content|safe }}
                            </div>
                            <hr>
                            <div class="card-text" id="comments_box">
                                {% for comment in comments %}
                                    <div class="row mb-3">
                                        <!-- left -->
                                        <div class="col-auto">
                                            <p class="mb-1">{{ comment.username }}</p>
                                            <img src="{{ comment.avatar }}" alt="avatar"
                                                 class="img-fluid rounded-circle"
                                                 style="width: 50px; height: 50px;">
                                        </div>
                                        <!-- right -->
                                        <div class="col">
                                            <p class="mb-1">{{ comment.content }}</p>
                                        </div>
                                        <!-- bottom -->
                                        <div class="col-auto align-self-end">
                                            <i class="bi btn like_btn {% if comment.is_like %}bi-heart-fill{% else %}bi-heart{% endif %}"
                                               data-mode="comment" data-id="{{ comment.id }}"
                                               data-liked="{{ comment.is_like }}">
                                                <!-- 这里是带点赞数 -->
                                                <span class="like-count">0</span>
                                            </i>
                                            <a href="#comment_form" onclick="
                                                    <!-- 给#comment_form 输入框加 前置内容 @{{ comment.name }} -->
                                                    $('#id_comment_id').val('{{ comment.id }}');
                                                    " class="btn btn-outline-dark"> @{{ comment.name }} </a>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                            <div id="comment_form">
                                <!-- 评论表单 act 指向 /comment/<int: post_id>/ author={{ request.user }} post={{ post.id }} -->
                                <form method="POST" enctype="multipart/form-data" id="comment_box"
                                      action="{% url 'comment' t_id=post.id %}">
                                    {% csrf_token %}
                                    <table class="table table-borderless table-sm">
                                        <tr>
                                            <td></td>
                                            <td><input type="text" name="comment_id" id="id_comment_id" value=""
                                                       style="display: none"></td>
                                        </tr>
                                        <tr>
                                            <td><input type="text" name="comment_input" required=""
                                                       id="id_comment_input" placeholder="请评论吧"
                                                       style="width: 100%;height: 100%"></td>
                                            <td>
                                                <button type="submit" class="btn btn-outline-info"
                                                        style="width: 100%;height: 100%">提交
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="card-footer text-muted">
                                <a href="{% url 'index' %}" class="btn btn-outline-primary">返回列表</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">文章未开放</h4>
                        <p>抱歉，该篇文章还未开放。</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            // 获取点赞数
            function getLikeCount(element) {
                var mode = $(element).data('mode');
                var id = $(element).data('id');
                $.get(`/like/${mode}/${id}/`, function (data) {
                    $(element).find('.like-count').text(data.like_count);
                });
            }

            // 初始化点赞数
            $('.like_btn').each(function () {
                getLikeCount(this);
            });

            // 点赞按钮点击事件
            $('.like_btn').click(function () {
                var mode = $(this).data('mode');
                var id = $(this).data('id');
                var liked = $(this).data('liked');

                $.ajax({
                    url: `/like/${mode}/${id}/`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (response) {
                        // alert(response.message);
                        getLikeCount($(this)); // 更新点赞数

                        // 更新点赞状态
                        if (response.message === "Like added") {
                            $(this).addClass('bi-heart-fill').removeClass('bi-heart');
                            $(this).data('liked', true);
                        } else {
                            $(this).addClass('bi-heart').removeClass('bi-heart-fill');
                            $(this).data('liked', false);
                        }
                    }.bind(this),
                });
            });
        });
    </script>
{% endblock %}